.jumbotron{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    font-weight: 900;
    font-family: 'Abril Fatface';
    font-size: 150%;
    text-align: center;
    padding: 20px;
}

p{
    font-weight: 900;
    font-family: 'Abril Fatface';
     font-size: 200%;
}


.button{
    text-align: center;
      
} 

footer{
   padding: 40px;
}

.row{
    padding:40px;
    margin:40px;
}